<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:name="com.zss.base.BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/app_network_security_config"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.PxApp"
        tools:targetApi="31">
        <activity
            android:name="com.zss.framaist.entrance.EntranceSplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".entrance.EntranceMainActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.zss.framaist.login.LoginActivity" />
        <activity android:name="com.zss.framaist.mine.UserInfoActivity" />
        <activity android:name="com.zss.framaist.mine.PswManagerActivity" />
        <activity android:name="com.zss.framaist.mine.PswModifyResultActivity" />
        <activity android:name="com.zss.framaist.home.RecommendListActivity" />
        <activity
            android:name="com.zss.framaist.fram.ui.CameraActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop" />
        <activity android:name="com.zss.framaist.home.RecommendDetailActivity" />
        <activity android:name="com.zss.framaist.fram.ui.PictureSavedActivity" />
    </application>

</manifest>